@font-face {
  font-family: "iconfont"; /* Project id 4757706 */
  src: url('iconfont.ttf?t=1732454780089') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-wj-wj-2:before {
  content: "\e718";
}

.icon-wj-wjlb:before {
  content: "\e751";
}

