@font-face {
  font-family: "iconfont"; /* Project id 4757706 */
  src: url('iconfont.ttf?t=1733649269036') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shubiaoyoujian:before {
  content: "\e7ae";
}

.icon-renwu:before {
  content: "\e6aa";
}

.icon-shezhi-jiemianshezhi:before {
  content: "\e601";
}

.icon-shezhi2:before {
  content: "\e707";
}

.icon-plan:before {
  content: "\e603";
}

.icon-daochu:before {
  content: "\e736";
}

.icon-kuaijie1:before {
  content: "\e600";
}

.icon-wendangshezhi-peizhiwenjian_tiandi:before {
  content: "\e6b7";
}

.icon-wentijieda1:before {
  content: "\e645";
}

.icon-wode-guanyuwomen:before {
  content: "\e646";
}

.icon-suanfa2:before {
  content: "\e76e";
}

.icon-wj-wj-2:before {
  content: "\e718";
}

.icon-wj-wjlb:before {
  content: "\e751";
}

.icon-fuzhi1:before {
  content: "\ec7a";
}

