<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommandLineParser" version="2.9.1" targetFramework="net462" />
  <package id="Costura.Fody" version="6.0.0" targetFramework="net462" developmentDependency="true" />
  <package id="Fody" version="6.9.1" targetFramework="net462" developmentDependency="true" />
  <package id="Microsoft.Bcl.HashCode" version="6.0.0" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net462" />
  <package id="System.Buffers" version="4.6.0" targetFramework="net462" />
  <package id="System.Memory" version="4.6.0" targetFramework="net462" />
  <package id="System.Numerics.Vectors" version="4.6.0" targetFramework="net462" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.1.0" targetFramework="net462" />
  <package id="WindowsAPICodePack-Core" version="1.1.2" targetFramework="net462" />
  <package id="WindowsAPICodePack-Shell" version="1.1.1" targetFramework="net462" />
  <package id="XamlAnimatedGif" version="2.3.0" targetFramework="net462" />
</packages>